* {
  font-family: "Cinzel", serif;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  max-width: 100px;
  margin: auto;
  justify-content: center;
  gap: 5px;
}

.heading {
  font-family: "Bungee", sans-serif;
  font-size: 50px;
  text-align: center;
}

.box {
  width: 150px;
  height: 150px;
  margin: 0 0 -2px -2px;
  border: 2px solid #000;
  background-image: url("./components/images/board.jpg");
  cursor: pointer;
  font-size: 80px;
  border-radius: 7%;
  font-weight: bold;
  padding-top: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* Adjust as needed */
}

/* Tablet */
@media screen and (max-width: 991px) {
  .box {
    width: 120px;
    height: 120px;
    font-size: 60px;
  }
}

/* Phone */
@media screen and (max-width: 768px) {
  .box {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
}

/* From Uiverse.io by bociKond */
.form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #58bc82;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"] {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}


.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}
